// Copyright (c) The Tachiyomi Open Source Project
// SPDX-License-Identifier: MPL-2.0

/**
 * Component: Element Plus
 */
body {
  --el-color-primary: var(--vp-c-brand-1)
}

.vp-doc a {
  text-decoration: none

  &:hover {
    text-decoration: underline
    text-underline-offset: 2px
  }
}
